.main{
	width: 1140px;
	background-color: #f2f2f2;
	border: 1px solid ;
	padding: 20px;
	text-align: center;
	margin: auto;
}
.one{
	width: 300px;
	background-color: white;
	padding: 5px;
	text-align: center;
	line-height: 20px;
	border-radius: 15px;
}
.one img{
	width: 50px;
}
.container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
}